[Unit]
Description=QIANQI static designer preview
After=network.target
[Service]
Type=simple
ExecStart=/usr/sbin/nginx -c /opt/rh-preview/nginx-host.conf -g "daemon off;"
ExecReload=/usr/sbin/nginx -c /opt/rh-preview/nginx-host.conf -s reload
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
